$color-01: #D1E8E4
$color-02: #C37B89
$color-03: #BCCC9A
$color-04: #EAE7C6

*
  margin:0
  padding:0
  box-sizing: border-box

html
  color: $color-02
  overflow-x: hidden

body, input, textarea, select, button
  font: 300 1rem Poppins

button
  cursor: pointer

a
  text-decoration: none
  color: inherit

@media(max-width: 1080px) 
  html
    font-size: 93,75%

@media(max-width: 720px) 
  html
    font-size: 87,5%

