@import 'variables'
*
  margin:0
  padding:0
  box-sizing: border-box

html
  overflow-x: hidden

body, input, textarea, select, button
  font: 300 1rem Poppins
  background-color: $bg
  color: #222020

button
  cursor: pointer

a
  text-decoration: none
  color: inherit

@media(max-width: 1080px) 
  html
    font-size: 93,75%

@media(max-width: 720px) 
  html
    font-size: 87,5%

